<%= form_for @character, html: { id: "character-editor", class: "character-editor" } do |form| -%>
  <header>
    <div class="container">
      <button form="character-editor" rel="save" type="submit">Save</button>
    </div>
  </header>

  <div class="container">
    <%= render partial: "form", object: form %>
  </div>
<% end -%>
